<!--Component-->
<div fxLayout="row wrap" fxLayoutAlign="start start" class="m-b-30">
        <h5 class="m-b-15"> Determinate Progress Model</h5>
    <div fxFlex="100" fxLayoutAlign="start start">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start"  class="m-t-30 m-b-30">
     <h5  class="m-b-15">Indeterminate  Progress Model</h5>
    <div fxFlex="100" fxLayoutAlign="start start">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>
<!--<Component>-->