<!--Component-->
<div class="profile_data">
  <div class="form-group range_slider form_range_slider">
    <p>Select your range</p>
    <ion-range-slider #sliderElement type="double" min="0" max="1000" prefix="{{currencySymbol}} " [from]="from" [to]="to" from_shadow="true"
      to_shadow="true" decorate_both="false" (onFinish)="myOnFinish($event)">
    </ion-range-slider>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start start">
  <div fxFlex="100" fxLayoutAlign="start start">
    <p fxFlex="100">your minimum value is : {{from}}</p>
    <p fxFlex="100">your maximum value is : {{to}}</p>
  </div>
</div>
<!--<Component>-->


<!-- Description -->
<h4 class="m-t-15">Description</h4>
<div class="m-t-15">
  <p>
    Mat-accordian element adds expand/collapse features to your html blocks
  </p>

</div>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<div class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>
            npm i fullcalendar
        </code>
  </p>
  <p>Step 2</p>
  <p>If you use angular-cli, add jquery and ion-range-slider to the scripts section of .angular-cli.json</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step2"></code>
      </pre>
    </div>
  <p>Also add the ion-range-slider style and skin css to the styles section in your .angular-cli.json</p>
  <div class="docs-api-module-import">
      <pre>
          <code [innerHTML]="code.setup.content.step3"></code>
        </pre>
      </div>
      <p>Step 3</p>
  <p>Import Modules</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step4"></code>
      </pre>
    </div>
</div>
<!-- / code Walk Through -->