<!--Component-->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<!--<Component>-->

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<div class="m-t-15">
  <p>
    Autocomplete is a normal text input enhanced by a panel of suggested options.
  </p>

</div>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<div class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>
            npm i fullcalendar
        </code>
  </p>
  <p>Step 2</p>
  <p>If you use angular-cli, add jquery and ion-range-slider to the scripts section of .angular-cli.json</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step2"></code>
      </pre>
  </div>
  <p>Also add the ion-range-slider style and skin css to the styles section in your .angular-cli.json</p>
  <div class="docs-api-module-import">
    <pre>
          <code [innerHTML]="code.setup.content.step3"></code>
        </pre>
  </div>
  <p>Step 3</p>
  <p>Import Modules</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step4"></code>
      </pre>
  </div>
</div>
<!-- / code Walk Through -->