<mat-toolbar class="example-container" color="primary" class="header" style="height:60px !important; border-bottom: 1px solid #c6d0da;">

  <span>
    <button mat-icon-button (click)="sidenav.toggle()" style="width:60px;height:60px;margin-left:-16px;border-bottom:1px solid #c6d0da;border-radius:0%">
      <mat-icon class="md-24" style="color:white">menu</mat-icon>
    </button>
  </span>
  <span>
    <a routerLink="/dashboard">
      <img src="assets/img/logo.png" width="250" height="40" alt="">
    </a>
  </span>
  <span class="example-spacer"></span>
  <a class="navBtnActive" routerLink="/dashboard">
    Components
  </a>
  <a class="navBtn">
          Style Guides
       </a>
       <a class="navBtn">
          Design pattern
       </a>
</mat-toolbar>


<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #sidenav [mode]="navMode" opened="true" class="side_nav">
    <mat-nav-list>
      <!-- <form class="searchform">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="searchInput" (input)="onSearch($event.target.value)" name="searchInput" placeholder="Search"
              value="">
          </mat-form-field>
        </form> -->
      <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node class="childNode" *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding style="padding-left:30px;" (click)="onMenuClick(node)">
          <!-- <button mat-icon-button></button> -->
          <a style="cursor: pointer;"  [ngClass]="{'active' : activeUrl == node.filename}">{{node.filename}}</a>
        </mat-tree-node>

        <mat-tree-node class="parentNode" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding style="padding-left:30px;"
          matTreeNodeToggle>
          <mat-icon
                    class="md-18 icon_fet" 
                    md-list-icon svgIcon="core:{{node.filename}}">
          </mat-icon>
          <a [attr.aria-label]="'toggle ' + node.filename">
            {{node.filename}}
          </a>
          <mat-icon class="mat-icon-rtl-mirror" style="right: 15px;position: absolute;">
            {{treeControl.isExpanded(node) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
          </mat-icon>

        </mat-tree-node>
      </mat-tree>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>