

  <mat-toolbar class="example-container" color="primary" class="header" style="height:60px !important; border-bottom: 1px solid #c6d0da;">
    <span>
        <button mat-icon-button (click)="sidenav.toggle()" style="width:60px;height:60px;margin-left:-16px;border-bottom:1px solid #c6d0da;border-radius:0%">
            <mat-icon class="md-24" style="color:white">menu</mat-icon>
        </button>
    </span>
    <span>
      <img src="https://uc.uxpin.com/files/837400/831059/logo-af489e.png" width="250" height="40" alt="">
    </span>
    <span class="spacer"></span>
  </mat-toolbar>
  

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav [mode]="navMode" opened="true"  style="border-right: 1px solid #c6d0da;width: 230px;padding: 10px;">
      <mat-nav-list>
        <!-- <form class="searchform">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="searchInput" (input)="onSearch($event.target.value)" name="searchInput" placeholder="Search"
              value="">
          </mat-form-field>
        </form> -->
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding style="padding-left:45px;">
            <!-- <button mat-icon-button></button> -->
            <a style="cursor: pointer;" (click)="onMenuClick(node)">{{node.filename}}</a>
          </mat-tree-node>

          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding style="padding-left:30px;">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon class="mat-icon-rtl-mirror expansionIcons">
                {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
              </mat-icon>
            </button>
            {{node.filename}}
          </mat-tree-node>
        </mat-tree>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>