<!--Component-->
<button mat-raised-button
        matTooltip="ToolTip on Top"
        matTooltipPosition="above"
        aria-label="Button that displays a tooltip when focused or hovered over">
        ToolTip on Top
</button>
<button mat-raised-button
        matTooltip="ToolTip on Right"
        matTooltipPosition="after"
        aria-label="Button that displays a tooltip when focused or hovered over">
        ToolTip on Right
</button>
<button mat-raised-button
        matTooltip="ToolTip on below"
        matTooltipPosition="below"
        aria-label="Button that displays a tooltip when focused or hovered over">
        ToolTip on below
</button>
<button mat-raised-button
        matTooltip="ToolTip on Left"
        matTooltipPosition="left"
        aria-label="Button that displays a tooltip when focused or hovered over">
  ToolTip on Left
</button>
<!--<Component>-->

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<div class="m-t-15">
  <p>
      A message which appears when a cursor is positioned 
      over an icon, image, hyperlink,
       or any other element in a graphical user interface.
  </p>

</div>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<div class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>
            npm i fullcalendar
        </code>
  </p>
  <p>Step 2</p>
  <p>If you use angular-cli, add jquery and ion-range-slider to the scripts section of .angular-cli.json</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step2"></code>
      </pre>
    </div>
  <p>Also add the ion-range-slider style and skin css to the styles section in your .angular-cli.json</p>
  <div class="docs-api-module-import">
      <pre>
          <code [innerHTML]="code.setup.content.step3"></code>
        </pre>
      </div>
      <p>Step 3</p>
  <p>Import Modules</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step4"></code>
      </pre>
    </div>
</div>
<!-- / code Walk Through -->

