  <!--Component-->
  <mat-form-field>
    <input matInput value="Disco party!" placeholder="Message" #message>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput value="Dance" placeholder="Action" #action>
  </mat-form-field>
  
  <button mat-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>
  <!--<Component>-->
  
<!-- Description -->
<h4 class="m-t-15">Description</h4>
<div class="m-t-15">
  <p>
    
  </p>

</div>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<div class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>
            npm i fullcalendar
        </code>
  </p>
  <p>Step 2</p>
  <p>If you use angular-cli, add jquery and ion-range-slider to the scripts section of .angular-cli.json</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step2"></code>
      </pre>
    </div>
  <p>Also add the ion-range-slider style and skin css to the styles section in your .angular-cli.json</p>
  <div class="docs-api-module-import">
      <pre>
          <code [innerHTML]="code.setup.content.step3"></code>
        </pre>
      </div>
      <p>Step 3</p>
  <p>Import Modules</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step4"></code>
      </pre>
    </div>
</div>
<!-- / code Walk Through -->    