<!--Component-->
<p class="mat-body-1">Standalone message:</p>
<td-message label="Error!" sublabel="You did something wrong!" color="warn" icon="error"></td-message>
<p class="mat-body-1">Message in a card with action</p>
<mat-card>
  <td-message label="Warning!" sublabel="Your probably shouldn't do that!" color="primary" icon="warning">
    <button td-message-actions mat-button>VIEW MORE</button>
  </td-message>
</mat-card>
<!-- <p class="mat-body-1">Message in a card content:</p> -->
<mat-card>
  <!-- <mat-card-title>Card title</mat-card-title> -->
  <mat-divider></mat-divider>
  <td-message label="Info" sublabel="Maybe you want to know this" color="accent" icon="info"></td-message>
  <mat-card-content>
    content
  </mat-card-content>
</mat-card>
<!-- <p class="mat-body-1">Toggle visibility:</p> -->
<td-message #messageDemo color="primary" class="pad-sm" label="Hide me!" sublabel="You can toggle my visibility & add a class!">
  <button td-message-actions mat-icon-button (click)="messageDemo.close()"><mat-icon>cancel</mat-icon></button>
</td-message>
<button mat-button color="accent" (click)="messageDemo.toggle()">
  Toggle Visibility
</button>
<!--<Component>-->

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<div class="m-t-15">
  <p>
    The graphical control element dialog/message box
    is a small window that communicates information 
    to the user and prompts them for a response.
  </p>

</div>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<div class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>
            npm i fullcalendar
        </code>
  </p>
  <p>Step 2</p>
  <p>If you use angular-cli, add jquery and ion-range-slider to the scripts section of .angular-cli.json</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step2"></code>
      </pre>
    </div>
  <p>Also add the ion-range-slider style and skin css to the styles section in your .angular-cli.json</p>
  <div class="docs-api-module-import">
      <pre>
          <code [innerHTML]="code.setup.content.step3"></code>
        </pre>
      </div>
      <p>Step 3</p>
  <p>Import Modules</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step4"></code>
      </pre>
    </div>
</div>
<!-- / code Walk Through -->