<!--Component-->
<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  <!--<Component>-->

<!-- Description -->
<h4 class="m-t-15">Description</h4>
<div class="m-t-15">
  <p>
      Tab is a graphical control element that allows 
      multiple documents or panels to be contained within
       a single window. You can use tabs as a navigational 
       widget for switching between sets of documents. 
  </p>

</div>
<!-- /Description -->

<!-- code Walk Through -->

<h4 class="m-t-15">Setup</h4>
<div class="m-t-15">
  <p>Step 1</p>
  <p class="docs-api-module-import">
    <code>
            npm i fullcalendar
        </code>
  </p>
  <p>Step 2</p>
  <p>If you use angular-cli, add jquery and ion-range-slider to the scripts section of .angular-cli.json</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step2"></code>
      </pre>
    </div>
  <p>Also add the ion-range-slider style and skin css to the styles section in your .angular-cli.json</p>
  <div class="docs-api-module-import">
      <pre>
          <code [innerHTML]="code.setup.content.step3"></code>
        </pre>
      </div>
      <p>Step 3</p>
  <p>Import Modules</p>
  <div class="docs-api-module-import">
    <pre>
        <code [innerHTML]="code.setup.content.step4"></code>
      </pre>
    </div>
</div>
<!-- / code Walk Through -->    